.profile-page {
  --background: #ffffff;
  text-align: center;
  --padding-bottom: 4rem;
}

/* HEADER */
.profile-header {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.profile-avatar {
  width: 110px;
  height: 110px;
  border: 3px solid #f1b500;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.user-name {
  font-size: 22px;
  font-weight: 700;
  color: #fa5903;
  margin-bottom: 3px;
}

.user-location {
  color: #777;
  font-size: 15px;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1b500;
  font-size: 18px;
  gap: 4px;
  margin-bottom: 10px;
}

.profile-actions {
  display: flex;
  gap: 10px;
}

.follow-btn {
  --background: #fa4e17;
  color: white;
  font-weight: bold;
}

.message-btn {
  --background: rgba(255, 122, 0, 0.99);
  color: white;
  font-weight: bold;
}

/* GALLERY */
.gallery {
  padding: 0 15px;
  margin-top: 10px;
}

.moda-ropa {
  width: 100%;
  height: 220px;
  border-radius: 16px;
  object-fit: cover;
  margin-bottom: 8px;
}

ion-img {
  border-radius: 16px;
  height: 140px;
  object-fit: cover;
}

/* REVIEWS */
.reviews-list {
  background: #f6f6f5;
  margin-top: 20px;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 0 10px;

}

ion-list-header {
  font-weight: bold;
  font-size: 18px;
  padding-left: 4px;
  color: #333;
}

ion-item {
  --background: #cfcfcf;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 15px;
}

ion-avatar img {
  border-radius: 50%;
}

ion-label h3 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.excerpt {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
}

.time {
  font-size: 12px;
  color: #999;
  margin-top: 2px;
}

.tabbar-spacer {
  height: 60px;
}
