:host {
  --ion-color-primary-orange: #ff8c3a;
  --ion-color-medium-gray: #777;
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

/* Tab bar personalizada */
.custom-tab-bar {
  --background: #fff;
  width: 100%;
  border-top: 1px solid #eee;
  height: 60px;
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: space-around;
  align-items: center;

  ion-tab-button {
    display: flex;
    flex-direction: column; /* ícono arriba, label abajo */
    align-items: center;
    justify-content: center;
    --color: var(--ion-color-medium-gray);
    --color-selected: var(--ion-color-primary-orange);
    padding: 0; /* eliminar padding extra */

    ion-icon {
      font-size: 24px;
      margin-bottom: 2px; /* espacio entre icono y label */
    }

    ion-label {
      font-size: 15px;
      font-weight: 600;
      text-transform: capitalize;
    }

    &[tab="explore"] {
      --color: var(--ion-color-primary-orange);
      --color-selected: var(--ion-color-primary-orange);

      ion-icon {
        color: var(--ion-color-primary-orange);
      }
    }
  }
}

/* Botón central 'Add' */
.add-button-container {
  position: relative;

  .add-button-plus {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(255, 140, 58, 0.4);
    margin-top: -20px;

    ion-icon {
      color: #fa5903;
      font-size: 30px;
    }
  }

  ion-label {
    color: var(--ion-color-medium-gray);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    font-weight: 600;
  }
}
