<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Guardarropa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="grid">
    <ion-card *ngFor="let item of wardrobeItems" (click)="onItemClick(item)">
      <ion-thumbnail slot="start">
        <img [src]="item.imagenPrincipal || 'assets/img/pantalon-japan.jpg'" alt="{{ item.titulo }}" />
      </ion-thumbnail>
      <ion-card-header>
        <ion-card-title>{{ item.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ item.categoria || 'Categoría desconocida' }}</p>
        <p>{{ item.talla || 'Talla desconocida' }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <app-api-footer-nav-bar></app-api-footer-nav-bar>
</ion-content>
