ion-toolbar {
  --background: #ffffff;
  --color: #fa3d03;
}

ion-title {
  font-weight: bold;
}

ion-button ion-icon {
  font-size: 1.2rem;
}

ion-content {
  --background: #f4f4f4;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 5px;
  padding: 2px 0;
}

.item {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  overflow: hidden;
  background: #f2f2f2;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color: white;
    font-size: 0.75rem;
    padding: 2px 0;
    text-align: center;
  }

  .heart-icon {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 1rem;
    cursor: pointer;
  }
}


  .heart-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }

