/* Header */
ion-toolbar{
  --background: #ffffff;
  color: #ff6a00;
}

ion-title {
  color: #ff6a00;
  font-weight: 600;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-avatar {
  width: 36px;
  height: 36px;
}

.title-texts {
  display: flex;
  flex-direction: column;
}

.title-texts .name {
  font-weight: 600;
  font-size: 16px;
}

.title-texts .subtitle {
  font-size: 12px;
  color: gray;
}


/* ===== CONTENT ===== */
.chat-content {
  --background: #dddcdc;
  --padding-top: 16px;
  --padding-bottom: 100px;

  padding-left: 12px;
  padding-right: 12px;
}

/* Mensajes alineados con avatar */
.message-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message-container.other {
  flex-direction: row;
}

.message-container.me {
  flex-direction: row-reverse;
}

.message-avatar {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-right: 8px;
}

.message-container.me .message-avatar {
  margin-left: 8px;
  margin-right: 0;
}

/* Burbuja de mensajes */
.message-bubble {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
  word-break: break-word;
}

.message-container.other .message-bubble {
  background: #f86d22;
  border: 1px solid #e0e0e0;
  color: #fafafa;
  border-top-left-radius: 0;
  border-top-right-radius: 18px;
}

.message-container.me .message-bubble {
  background: #ff6a00;
  color: #fff;
  border-top-right-radius: 0;
  border-top-left-radius: 18px;
}

.img-msg {
  width: 150px;
  border-radius: 12px;
  display: block;
  margin-bottom: 6px;
}

/* ===== FOOTER ===== */
.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-toolbar {
  --background: #ffffff;
  padding: 6px 12px;
  border-top: 1px solid #eee;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-container .emoji-btn {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  --color: #ff6a00;
}
.footer-container .emoji-btn {
  width: auto;
  height: auto;
  padding: 0;
}

.footer-container .input {
  flex: 1;
  height: 44px;
  --padding-start: 14px;
  --background: #f5f5f5;
  border-radius: 22px;
}

.footer-container .send-btn {
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  margin-left: 8px;
  border-radius: 50%;
  --background: #ff6a00;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}



